[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
numpy = "*"
periodictable = "*"
lmfit = "*"
pymatgen = "*"
scipy = "*"
uncertainties = "*"
tabulate = "*"
pandas = "*"
xarray = "*"
h5py = "*"
matplotlib = "*"
sh = "*"
